<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoPatrimonio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2675/ServicoPatrimonio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoPatrimonio"
                contract="ServicoPatrimonioReference.IServicoPatrimonio" name="BasicHttpBinding_IServicoPatrimonio" />
        </client>
    </system.serviceModel>
</configuration>