<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoEscritaFiscal" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2667/ServicoEscritaFiscal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoEscritaFiscal"
                contract="ServicoEscritaFiscalReference.IServicoEscritaFiscal"
                name="BasicHttpBinding_IServicoEscritaFiscal" />
        </client>
    </system.serviceModel>
</configuration>