<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoVendas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2677/ServicoVendas.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicoVendas" contract="VendasReference.IServicoVendas"
                name="BasicHttpBinding_IServicoVendas" />
        </client>
    </system.serviceModel>
</configuration>