<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoContratos" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGEDService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2664/ServicoContratos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoContratos"
                contract="ContratosReference.IServicoContratos" name="BasicHttpBinding_IServicoContratos" />
            <endpoint address="http://localhost:2674/GEDService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGEDService" contract="GEDServiceReference.IGEDService"
                name="WSHttpBinding_IGEDService">
                <identity>
                    <userPrincipalName value="t2ti_erp_2\t2ti" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>